

.navbar-brand{
    font-family: "Lucida Handwriting", cursive;;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    background-color: black;
  }
  
.img-slide {
    object-fit: cover;
}

.navbar-dark {
    background-color: #000000 !important;
}

.btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.rounded-circle {
    border-radius: 50% !important;
    object-fit: cover;
}

.img-thumbnail {
    padding:.25rem;
    background-color: #000000;
    border:1px solid black;
    border-radius:.25rem;
    height: 300px;
    object-fit: contain;
}

.img-thumbnail:hover {
    border:3px solid white;
}

.img-fluid {
    max-height: 90vh;
    border:3px solid white;
    object-fit: contain;
}

@media (max-width: 992px) { /* Für Bildschirme kleiner als 992px (Bootstrap-Breakpoint für große Bildschirme) */
    .modal-dialog {
        display: none !important; /* Versteckt das Modal */
    }
}

@media (min-width: 992px) { /* Für Bildschirme ab 992px */
    .modal-dialog {
        display: flex !important; /* Zeigt das Modal */
    }
}

.modal-dialog {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 90% !important; 
}

.modal-content {
    width: 70% !important; 
}

.modal-body img {
    max-width: 60% !important;
}

.gallery-header{
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-wrapper{
    margin-left: 12%;
    margin-right: 12%;
}